<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">

      <ion-row class="ion-justify-content-center">

        <!-- Perfil -->
        <ion-col size="4" size-lg="4">
          <img src="https://imgsapp.revistaencontro.com.br/app/noticia_152466458717/2023/12/29/168314/enaldinho-youtube-entrevista-revista-encontro-internet-tecnologia-faturamento-premio-2023-foto-5_5_53525.jpg" class="foto-perfil">
        </ion-col>

        <ion-col size="8" size-lg="8">
          <ion-item lines="none">
            <h2>Enaldinho</h2>
          </ion-item>

          <ion-item lines="none">
            <h3>Youtuber</h3>
          </ion-item>

          <ion-item lines="none">
            <h3>@Enaldinho</h3>
          </ion-item>

          <ion-item lines="none">
            <h3>Português</h3>
          </ion-item>

          <ion-item lines="none">
            <h3>Belo Horizonte / MG</h3>
          </ion-item>

          <ion-item lines="none">
            <h3>Desde 2012</h3>
          </ion-item>

        </ion-col>
      </ion-row>

      <!-- BIO -->
      <ion-row>
        <ion-col>
          <h1>Biografia</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p>Conhecido e adorado pelo público juvenil, o YouTuber Enaldinho conquistou milhões de seguidores em suas redes sociais em tempo recorde. De forma despretensiosa, o jovem começou a produzir vídeos de jogos em 2012.
          </p>
        </ion-col>
      </ion-row>

      <!-- LINHA-DIVISORIA -->
      <ion-row>
        <ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <!-- METRAGEM -->
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <h3>35.5K</h3>
          </ion-item>
          <ion-item lines="none">
            <h4>curtidas</h4>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item lines="none">
            <h3>35.5K</h3>
          </ion-item>
          <ion-item lines="none">
            <h4>seguindo</h4>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item lines="none">
            <h3>35.5K</h3>
          </ion-item>
          <ion-item lines="none">
            <h4>amigos</h4>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- LINHA-DIVISORIA -->
      <ion-row>
        <ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <!-- POSTAGENS DE AMIGO -->

      <ion-row>
        <ion-col>
          <H1>Postagens de Amigos</H1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" line="none">
          <img src="https://pbs.twimg.com/profile_images/1585434528126046210/fHriegZr_400x400.jpg" class="foto-amigo">
        </ion-col>
        <ion-col>
          <ion-item size="8" line="none">
            <span class="nome-amigo">João Caetano</span>
            <span class="conta-amigo">@jota c</span>
          </ion-item>
          <p class="paragrafo">parabéns mano, agradeço por ter acabado com a minha noite e provavelmente o meu mês, desejo toda paz, saúde, sucesso pra vc e pra sua família, mesmo sendo nítido que você não deseja o mesmo pela minha ❤️</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" line="none">
          <img src="https://pbs.twimg.com/profile_images/1038320605899235328/eNwmt4Em_400x400.jpg" class="foto-amigo">
        </ion-col>
        <ion-col>
          <ion-item size="8" line="none">
            <span class="nome-amigo">Renato Garcia</span>
            <span class="conta-amigo">@renatogarciayt</span>
          </ion-item>
          <p class="paragrafo">As vezes a gente sobrecarrega de mais, chega uma hora que a cabeça já nao pensa direito, o stress toma conta de nossa mente, a correria dia a dia se torna insuportável, nada melhor que desconectar de tudo e tirar um dia para voce, sem internet, sem sinal ! Apenas vc e a natureza!✌</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" line="none">
          <img src="https://pbs.twimg.com/profile_images/1544055363384786945/2RaXYxct_400x400.jpg" class="foto-amigo">
        </ion-col>
        <ion-col>
          <ion-item size="8" line="none">
            <span class="nome-amigo">EDUKOF #BREAKMEN</span>
            <span class="conta-amigo">@EduKof</span>
          </ion-item>
          <p class="paragrafo">O Enaldinho viveu e gravou com a gente por muito tempo mas ele se mudou recentemente pra viver uma vida e casal, nem eu nem ninguém dos meus amigos sabia das coisas que estava acontecendo então estamos chocados igualmente. Espero que tudo de certo para os dois nesse momento ruim!👊</p>
        </ion-col>
      </ion-row>
      
    </ion-col>
  </ion-row>
</ion-content>