// *{
//     outline: 1px solid black;
// }

.foto-perfil{
    border-radius: 1rem;
    // outline: 3px solid black;
}

.foto-amigo{
    border-radius: 50%;
    width: 11.25rem;
    height: 11.25rem;
}

.nome-amigo{
    font-size: 1.5rem;
}

.conta-amigo{
    margin-left: 1rem;
    font-size: 1.5rem;
    opacity: 55%;
    color: #4f5b66;
}

.paragrafo{
    margin-left: 1rem;
}